ansible==2.10.7
ansible-base==2.10.5
attrs==21.2.0
bitstring==3.1.7
certifi==2021.5.30
cffi==1.14.4
charset-normalizer==2.0.3
click==8.0.1
cryptography==3.4.4
ecdsa==0.16.1
esptool==3.0
idna==3.2
Jinja2==2.11.3
labels==20.1.0
MarkupSafe==1.1.1
packaging==20.9
pycparser==2.20
pyparsing==2.4.7
PyQt3D==5.15.5
PyQt5==5.15.6
PyQt5-sip==12.9.0
PyQt6==6.2.0
PyQt6-3D==6.2.0
PyQt6-Charts==6.2.0
PyQt6-DataVisualization==6.2.0
PyQt6-NetworkAuth==6.2.0
PyQt6-sip==13.1.0
PyQt6-WebEngine==6.2.0
PyQtChart==5.15.5
PyQtDataVisualization==5.15.5
PyQtNetworkAuth==5.15.5
PyQtPurchasing==5.15.5
PyQtWebEngine==5.15.5
pyserial==3.5
pytoml==0.1.21
PyYAML==5.4.1
QScintilla==2.13.1
reedsolo==1.5.4
requests==2.26.0
setproctitle==1.2.1
sip==6.5.0
six==1.15.0
TBB==0.2
toml==0.10.2
urllib3==1.26.6
